@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

body {
  font-family: "Neucha", cursive;
  background-color: #f7d6bf;
}

a {
  text-decoration: none;
}

.weather-app {
  background-color: #fff;
  max-width: 800px;
}

div.container {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 100px 50px;
}
div.search-area {
  display: flex;
  margin: auto;
  padding: 10px;
  justify-content: center;
}

#search-input {
  background-color: #f7d6bf;
  padding: 0 10px;
  width: 375px;
  vertical-align: middle;
  height: 40px;
  font-weight: 600;
}

.search-btn,
.current-btn {
  border: none;
  background-color: #f8a488;
  height: 40px;
  margin-right: 5px;
  transition: all 0.5 ease-in-out;
}

.search-btn:hover,
.current-btn:hover {
  background-color: #e96e50;
}

.weather-info {
  text-align: center;
  margin-top: 30px;
}

#description {
  text-transform: capitalize;
}

div.current-weather {
  margin-top: 20px;
  padding: 10px;
}

.current-temp {
  vertical-align: middle;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
}

#c-temp,
#f-temp {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#c-temp:hover,
#f-temp:hover {
  color: #000;
  font-weight: bold;
}

.current-degree {
  vertical-align: top;
  font-size: 20px;
}
.symbol-size {
  font-size: 24px;
}

.left-temp {
  font-weight: 500;
}

.card {
  border: none;
  width: 20rem;
}

.citation {
  margin: 20px 30px;
}

.myGithub {
  color: #fabea7;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.myGithub:hover {
  font-weight: 500;
  color: #e96e50;
}
